@import url("./stylesGeneral.css");

.about-us {
  background-color: var(--principal-color);
  border: 1px solid var(--border-color);
  margin: 20px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-social {
  list-style: none;
  display: flex;
  gap: 10px;
}

#container-about {
  margin-bottom: 50px;
}

#title-section {
  margin: 20px;
  margin-top: 50px;
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
}

@media (min-width: 1024px) {
  #container-about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  #container-main {
    height: 80vh;
  }
}
