@import url("./stylesGeneral.css");

.buttons-details {
  padding: 10px 0px;
  border-radius: 10px;
  background-color: rgb(236, 236, 236);
  border: 1px solid var(--border-color);
}

.buttons-details:hover {
  background-color: var(--principal-color);
}

.buttons-details a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--border-color);
  padding: 10px 20px;
}

#buttons {
  display: flex;
  margin: 30px;
  justify-content: space-between;
}

.flag-country {
  display: flex;
  justify-content: center;
  height: 230px;
  margin: 30px;
  margin-top: 0px;
  border-radius: 10px;
}

.flag-country img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.div-info {
  background-color: var(--principal-color);
  border: 1px solid var(--border-color);
  margin: 0px 30px;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 10px;
}

.info-title h1 {
  font-size: 1.8rem;
  text-align: center;
}

.info-title p {
  text-align: center;
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.63);
}

.value-info {
  font-weight: bold;
}

.container-more-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 30px;
}

.title-one-info {
  margin-bottom: 20px;
}

#iframe {
  border: 1px solid var(--border-color);
  border-radius: 10px;
}

.language > strong {
  background-color: rgba(255, 255, 255, 0.473);
  padding: 5px;
  font-weight: 500;
  color: var(--text-primary-color);
  border-radius: 10px;
}
